{% extends 'layouts/base.html' %}
<head>
  <title>My HTML Page</title>
  <!-- Include the OpenAI package -->
  <script src="https://cdn.jsdelivr.net/npm/openai/src/index.js"></script>
</head>
{% block title %} PP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} 
<style>
  .card-height {
  height: 310px;
}

.circle-percentage {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
}

.progresscir {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 15px solid;
  border-top-color: transparent;
  transform: translate(-50%, -50%) rotate(-135deg);
  box-sizing: border-box;
}


.progresscir-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage {
  font-size: 34px;
  font-weight: bolder;
  color: #333;
}

</style>






{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-xl-12 mb-xl-0 mb-4">
              <div class="card z-index-2 h-200">
                <div class="card-header pb-0 pt-3 bg-transparent d-flex align-items-center justify-content-between">
                  <h6 class="text-capitalize mb-0">Carbon Footprint</h6>
                  <div>
                    <select name="year" id="year" class="form-control" onchange="updateChart()">
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option> 
                    </select>
                  </div>
                </div>
                <div class="card-body p-3">
                  <div class="chart">
                    <canvas id="chart-line-carbon-footprint" class="chart-canvas" height="325"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-lg-6 mt-4">
              <div class="card z-index-2 h-70">
                <div class="card-header pb-0 pt-3 bg-transparent d-flex align-items-center justify-content-between">
                  <h6 class="text-capitalize">Electricity</h6>
                  <p class="text-sm mb-0">
                    <select name= "yearelectricity" id="yearelectricity" class="form-control" onchange="updateChartElectricity()">
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option> 
                    </select>
                  </p>
                </div>
                <div class="card-body p-3">
                  <div class="chart">
                    <canvas id="chart-electricity" class="chart-canvas" height="190"></canvas>
                  </div>
                  <div>
                    <a href="#" id="view-data-btn" class="btn btn-primary form-control">View Data</a>
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4">
              <div class="card z-index-2 h-70">
                <div class="card-header pb-0 pt-3 bg-transparent d-flex align-items-center justify-content-between">
                  <h6 class="text-capitalize">Water</h6>
                  <p class="text-sm mb-0">
                    <select name= "yearwater" id="yearwater" class="form-control" onchange="updateChartWater()">
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option> 
                    </select>
                  </p>
                </div>
                <div class="card-body p-3">
                  <div class="chart">
                    <canvas id="chart-water" class="chart-canvas" height="190"></canvas>
                  </div>
                  <div>
                    <a href="#" id="view-data-water-btn" class="btn btn-primary form-control">View Data</a>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card ">
            <div class="card-header text-center pb-0">
              <h6>LEED Assessment</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="circle-percentage">
                <div class="progresscir"></div>
                <div class="progresscir-text text-center">
                  <span class="percentage" id="total_leed">75%</span>
                  <p class="text-secondary" id="scoring">Platinum</p>
                </div>
              </div>

              
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder" id="location_transportation">2</span>
                        <span class="text-sm opacity-8">Location</span>
                      </div>
                      <div class="d-grid text-center mx-4">
                        <span class="text-lg font-weight-bolder" id="sustainable_sites">10</span>
                        <span class="text-sm opacity-8">Sustainability</span>
                      </div>
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder" id="water_efficiency">8</span>
                        <span class="text-sm opacity-8">Water</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder" id="energy_atmosphere">2</span>
                        <span class="text-sm opacity-8">Energy</span>
                      </div>
                      <div class="d-grid text-center mx-4">
                        <span class="text-lg font-weight-bolder" id="materials_resources">10</span>
                        <span class="text-sm opacity-8">Material</span>
                      </div>
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder" id="indoor_environmental_quality">8</span>
                        <span class="text-sm opacity-8">Indoor</span>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder" id="innovation">2</span>
                        <span class="text-sm opacity-8">Innovation</span>
                      </div>
                     </div>
                  </div>
                </div>
              
            </div>
          </div>
          
          
          
          
          <div class="card mt-4 card-height">
            <div class="card-header text-center pb-0">
              <h6>Initiative</h6>
            </div>

              <div class="card-body text-center pb-2">
                <span class="text-sm text-center opacity-8" id="initiativesContainer">Please wait for the initiative to load 🐰</span>

              </div>
          </div>
          </div>
          </div>
        </div>
        
        </div>
      </div>
      



    
     

      {% include "includes/footer.html" %}

    </div>

  </main> 

{% endblock content %}

<!-- Specific JS goes HERE --> 
<!-- Specific JS goes HERE --> 
{% block javascripts %}
  
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/openai/src/index.js"></script>

  <script>
  const params = new URLSearchParams(window.location.search);
  const buildingValue = params.get('building');
  const url = window.location.href;
  const buildingValues = {
  'CRCS': 1,
  'CAS': 2,
  'Energi': 3,
  'Kimia': 4,
  'PP': 5,
  'PAU': 6,
  'CADL': 7,
  'TI': 8,
  'Mesin': 9,
  'LabtekX': 10,
  'LabtekXI': 11,
  'TPB': 12,
  'CampusCenter': 13,
  'AulaBarat': 14,
  'AulaTimur': 15,
  'CIBE': 16,
  'Konversi': 17,
  'Fisi': 18,
  'LabtekIXBC': 19,
  'STT': 20,
  'TL': 21,
  'LabtekV': 22,
  'LabtekVI': 23,
  'LabtekVII': 24,
  'LabtekVIII': 25,
  'Sabuga': 26
};

const buildingValueNumber = buildingValues[buildingValue];

  // Set the href attribute of the link
  const viewDataBtn = document.getElementById('view-data-btn');
  viewDataBtn.href = `building-data-electricity.html?building=${buildingValue}`;
  const viewDataBtnWtr = document.getElementById('view-data-water-btn');
  viewDataBtnWtr.href = `building-data-water.html?building=${buildingValue}`;

  const yearValue = "2022";
  var ctx1 = document.getElementById("chart-line-carbon-footprint").getContext("2d");

 // Function to update the HTML with Leed data
 async function updateLeedData(data) {
  const energyAtmosphere = document.getElementById('energy_atmosphere');
  const materialsResources = document.getElementById('materials_resources');
  const indoorEnvironmentalQuality = document.getElementById('indoor_environmental_quality');
  const locationTransportation = document.getElementById('location_transportation');
  const sustainableSites = document.getElementById('sustainable_sites');
  const waterEfficiency = document.getElementById('water_efficiency');
  const innovation = document.getElementById('innovation');
  const totalLeed = document.getElementById('total_leed');
  const scoring = document.getElementById('scoring');
  const progressCircle = document.querySelector('.progresscir');

  energyAtmosphere.textContent = data.energy_atmosphere;
  materialsResources.textContent = data.material_resources;
  indoorEnvironmentalQuality.textContent = data.indoor_environmental_quality;
  locationTransportation.textContent = data.location_transportation;
  sustainableSites.textContent = data.sustainable_sites;
  waterEfficiency.textContent = data.water_efficiency;
  innovation.textContent = data.innovation;
  totalLeed.textContent = data.total_leed;

  if (data.total_leed > 80) {
    scoring.textContent = 'Platinum';
    progressCircle.style.borderColor = '#BCDA9E';
  } else if (data.total_leed > 60) {
    scoring.textContent = 'Gold';
    progressCircle.style.borderColor = '#F4BB63';
  } else if (data.total_leed > 40) {
    scoring.textContent = 'Silver';
    progressCircle.style.borderColor = '#CAE5FC';
  } else {
    scoring.textContent = 'Certified';
    progressCircle.style.borderColor = '#EC8F8F';
  }

 
}

// Function to generate initiatives based on LEED scores using OpenAI

fetch(`/inits/${buildingValueNumber}`)
    .then(response => response.json())
    .then(initiatives => {
      // Display the initiatives
      const initiativesContainer = document.getElementById('initiativesContainer');
      initiativesContainer.innerHTML = '';
      console.log("initiative", initiatives)

      initiatives.forEach(initiative => {
        const initiativeItem = document.createElement('li');
        initiativeItem.textContent = initiative;
        initiativesContainer.appendChild(initiativeItem);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });




// Fetch the Leed data for building with ID 1
fetch(`/leed/${buildingValueNumber}`)
  .then(response => response.json())
  .then(data => updateLeedData(data))
  .catch(error => console.error('Error:', error));


  fetch(`/building-data/${buildingValue}`)
    .then((response) => response.json())
    .then((data) => {
      const dataArray = Object.entries(data);

      const filteredDataActual = dataArray[0][1].map((d) => {
          return { Date: d.Date, Actual: d[buildingValue] };
      }).filter((d) => {
          return new Date(d.Date).getFullYear() == yearValue;
      });
      console.log(filteredDataActual)

      const filteredDataPredicted = dataArray[3][1].map((d) => {
          return { Date: d.Date, Predicted: d[buildingValue] };
      }).filter((d) => {
          return new Date(d.Date).getFullYear() == yearValue;
      });
      console.log("filtered",filteredDataPredicted)
      const predictedCF = filteredDataPredicted.map((d) => d.Predicted);
      const actualCF = filteredDataActual.map((d) => d.Actual);
      

      // Create the chart using the retrieved predictedKwh and actualKwh data
      new Chart(ctx1, {
        type: "line",
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Actual",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#BCDA9E",
            borderWidth: 3,
            data: actualCF,
            maxBarThickness: 6
          },
          {
            label: "Prediction",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#ccc",
            borderWidth: 3,
            borderDash: [5, 5],
            fill: false,
            data: predictedCF,
            maxBarThickness: 6
          }
          ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              }
            },
            interaction: {
              intersect: false,
              mode: 'index',
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  padding: 10,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: '#ccc',
                  padding: 20,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
            },
          },
        });
    });


  var ctx2 = document.getElementById("chart-electricity").getContext("2d");
  fetch(`/building-data/${buildingValue}`)
    .then((response) => response.json())
    .then((data) => {
      const dataArray = Object.entries(data);
      
      const filteredDataActual = dataArray[1][1].map((d) => {
          return { Date: d.Date, Actual: d[buildingValue] };
      }).filter((d) => {
          return new Date(d.Date).getFullYear() == yearValue;
      });
      console.log(filteredDataActual)

      const filteredDataPredicted = dataArray[4][1].map((d) => {
          return { Date: d.Date, Predicted: d[buildingValue] };
      }).filter((d) => {
          return new Date(d.Date).getFullYear() == yearValue;
      });
      console.log("filtered",filteredDataPredicted)
      const predictedKwH = filteredDataPredicted.map((d) => d.Predicted);
      const actualKwH = filteredDataActual.map((d) => d.Actual);

      // Create the chart using the retrieved predictedKwh and actualKwh data
      new Chart(ctx2, {
        type: "bar",
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Actual",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#FFCF95 ",
            borderWidth: 3,
            fill: false,
            data: actualKwH,
            maxBarThickness: 6,
          borderRadius: 100

          }
          ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              }
            },
            interaction: {
              intersect: false,
              mode: 'index',
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  padding: 10,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: '#ccc',
                  padding: 20,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
            },
          },
        });
    });


  
    const ctx3 = document.getElementById("chart-water").getContext("2d");

    fetch(`/building-data/${buildingValue}`)
      .then((response) => response.json())
      .then((data) => {
      const dataArray = Object.entries(data);
        
        const filteredDataActual = dataArray[2][1].map((d) => {
            return { Date: d.Date, Actual: d[buildingValue] };
        }).filter((d) => {
            return new Date(d.Date).getFullYear() == yearValue;
        });
        console.log(filteredDataActual)

        const filteredDataPredicted = dataArray[5][1].map((d) => {
            return { Date: d.Date, Predicted: d[buildingValue] };
        }).filter((d) => {
            return new Date(d.Date).getFullYear() == yearValue;
        });
        console.log("filtered",filteredDataPredicted)
        const predictedLiter = filteredDataPredicted.map((d) => d.Predicted);
        const actualLiter = filteredDataActual.map((d) => d.Actual);

        // Create the chart using the retrieved predictedKwh and actualKwh data
        new Chart(ctx3, {
          type: "bar",
          data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
              label: "Actual",
              tension: 0.4,
              borderWidth: 0,
              pointRadius: 0,
              borderColor: "#CAE5FC",
              backgroundColor: "#CAE5FC",
              borderWidth: 3,
              fill: false,
              data: actualLiter,
              maxBarThickness: 6,
              borderRadius: 100
            }
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              }
            },
            interaction: {
              intersect: false,
              mode: 'index',
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  padding: 10,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: '#ccc',
                  padding: 20,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
            },
          },
        });
      })
      function updateChart() {
        const yearValue = document.getElementById("year").value;
        const params = new URLSearchParams(window.location.search);
        const buildingValue = params.get('building');
        // get the existing Chart instance
        const chartInstance = Chart.instances[0];

        // fetch the data from the server
        fetch(`/building-data/${buildingValue}`)
        .then((response) => response.json())
        .then((data) => {
          // convert the dictionary to an array of key-value pairs
          const dataArray = Object.entries(data);
          console.log(dataArray)

          const filteredDataActual = dataArray[0][1].map((d) => {
              return { Date: d.Date, Actual: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log(filteredDataActual)

          const filteredDataPredicted = dataArray[3][1].map((d) => {
              return { Date: d.Date, Predicted: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log("filtered",filteredDataPredicted)
          const predictedCF = filteredDataPredicted.map((d) => d.Predicted);
          const actualCF = filteredDataActual.map((d) => d.Actual);
          console.log("actualCF", actualCF)

          console.log("predictedCF", predictedCF)
          
          
          chartInstance.data.datasets[0].data = actualCF;
          chartInstance.data.datasets[1].data = predictedCF;
          chartInstance.update();
        });

      }

      function updateChartElectricity() {
        const yearValue = document.getElementById("yearelectricity").value;
        const params = new URLSearchParams(window.location.search);
        const buildingValue = params.get('building');
        // get the existing Chart instance
        const chartInstance = Chart.instances[1];

        // fetch the data from the server
        fetch(`/building-data/${buildingValue}`)
        .then((response) => response.json())
        .then((data) => {
          // convert the dictionary to an array of key-value pairs
          const dataArray = Object.entries(data);
          console.log(dataArray)

          const filteredDataActual = dataArray[1][1].map((d) => {
              return { Date: d.Date, Actual: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log(filteredDataActual)

          const filteredDataPredicted = dataArray[4][1].map((d) => {
              return { Date: d.Date, Predicted: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log("filtered",filteredDataPredicted)
          const predictedCF = filteredDataPredicted.map((d) => d.Predicted);
          const actualCF = filteredDataActual.map((d) => d.Actual);
          console.log("actualCF", actualCF)

          console.log("predictedCF", predictedCF)
          
          
          chartInstance.data.datasets[0].data = actualCF;
          chartInstance.update();
        });

      }

      function updateChartWater() {
        const yearValue = document.getElementById("yearwater").value;
        const params = new URLSearchParams(window.location.search);
        const buildingValue = params.get('building');
        // get the existing Chart instance
        const chartInstance = Chart.instances[2];

        // fetch the data from the server
        fetch(`/building-data/${buildingValue}`)
        .then((response) => response.json())
        .then((data) => {
          // convert the dictionary to an array of key-value pairs
          const dataArray = Object.entries(data);
          console.log(dataArray)

          const filteredDataActual = dataArray[2][1].map((d) => {
              return { Date: d.Date, Actual: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log(filteredDataActual)

          const filteredDataPredicted = dataArray[5][1].map((d) => {
              return { Date: d.Date, Predicted: d[buildingValue] };
          }).filter((d) => {
              return new Date(d.Date).getFullYear() == yearValue;
          });
          console.log("filtered",filteredDataPredicted)
          const predictedCF = filteredDataPredicted.map((d) => d.Predicted);
          const actualCF = filteredDataActual.map((d) => d.Actual);
          console.log("actualCF", actualCF)

          console.log("predictedCF", predictedCF)
          
          
          chartInstance.data.datasets[0].data = actualCF;
          chartInstance.update();
        });

      }


  </script>

{% endblock javascripts %}
