{% extends 'layouts/base.html' %}

{% block title %} Water Form {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="position-absolute w-100 min-height-300 top-0" 
       style="background-image: url('{{ config.ASSETS_ROOT }}/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>
      
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}



    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Water Form</p>
              </div>
            </div>
            <div class="card-body">
    <form action="/submit_water" method="POST">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div>
                      <p class="form-control-label text-sm" class="form-control-label" >Building</p>
                      <select class="form-control" name="building_id">
                        <option value="1">CRCS</option>
                        <option value="2">CAS</option>
                        <option value="3">Energi</option>
                        <option value="4">Kimia</option>
                        <option value="5">PP</option>
                        <option value="6">PAU</option>
                        <option value="7">CADL</option>
                        <option value="8">TI</option>
                        <option value="9">Mesin</option>
                        <option value="10">LabtekX</option>
                        <option value="11">LabtekXI</option>
                        <option value="12">TPB</option>
                        <option value="13">CampusCenter</option>
                        <option value="14">AulaBarat</option>
                        <option value="15">AulaTimur</option>
                        <option value="16">CIBE</option>
                        <option value="17">Konversi</option>
                        <option value="18">Fisi</option>
                        <option value="19">LabtekIXBC</option>
                        <option value="20">STT</option>
                        <option value="21">TL</option>
                        <option value="22">LabtekV</option>
                        <option value="23">LabtekVI</option>
                        <option value="24">LabtekVII</option>
                        <option value="25">LabtekVIII</option>
                        <option value="26">Sabuga</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Date</label>
                    <input class="form-control" type="date" name="date">
                  </div>
                </div>
              </div>  
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Water Usage</label>
                      <input class="form-control" type="text" name="water_usage">
                    </div>
                  </div>
                </div>
              

        </div>
      </div>
      <button type="submit"  class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" value="Submit"> Submit </button>

    </form>

      {% include "includes/footer.html" %}

    </div>

  </main> 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
